<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>115669332033-pe3fic511f4kgme85lqpvb4d3u36hrq0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.115669332033-pe3fic511f4kgme85lqpvb4d3u36hrq0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>115669332033-056jkfofkf4r6g2ljbiq3ojsifj9g11v.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiU6YtX76xM0Dn8SwyiVeiSKk7npNHFPY</string>
	<key>GCM_SENDER_ID</key>
	<string>115669332033</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.udesc.biketrilhas</string>
	<key>PROJECT_ID</key>
	<string>biketrilhas-project</string>
	<key>STORAGE_BUCKET</key>
	<string>biketrilhas-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:115669332033:ios:de291f377112dde65216c0</string>
	<key>DATABASE_URL</key>
	<string>https://biketrilhas-project.firebaseio.com</string>
</dict>
</plist>